@import '../../../styles/colors.scss';

.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border-radius: .4rem;
  height: 4rem;
  border: none;
  background-color: $PRIMARY_COLOR;
  color: $WHITE;
  cursor: pointer;

  &--outlined {
    background-color: transparent;
    color: $WHITE;
    border: .1rem solid $WHITE;
  }

  &--white {
    background-color: $WHITE;
    color: $BLACK;
  }
}