@import '../../styles/mixins';
@import '../../styles/colors';

.info-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;

  @include medium-device {
    grid-template-columns: 1fr;
  }

  &__card {
    border-radius: .4rem;
    padding: 2rem;

    &.highlighted {
      background-color: $BLACK;
      color: $WHITE;
      border-radius: 4px;
      box-shadow: 1px 1px 0 #dfdfdf;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: .2rem;

    &::after {
      content: '';
      display: block;
      width: 4rem;
      height: .3rem;
      background-image: $MAIN_GRADIENT;
      margin: 2rem 0;
    }
  }

  &__description {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}