$PRIMARY_COLOR: #6b28d7;
$WHITE: #fff;
$BLACK: #151515;
$LIGHT_GRAY: #f5f5f5;
$FOOTER_BACKGROUND: #eaeaea;
$ACTIVE_NAVIGATION_TAB: #f0f0f0;
$ARTICLE_TEXT: #555555;
$HIGHLIGHTED_TEXT_BOX_BACKGROUND: #e6e6e6;
$HIGHLIGHTED_TEXT_BOX_TEXT: #333333;
$HIGHLIGHTED_TEXT_BOX_SHADOW: #c0c0c0;
$TITLE_BLACK: #111111;
$INPUT_BACKGROUND_LIGHT_GRAY : #fafafa;