$ASSETS_PATH: '../../../../styles/assets';
@import '../../../../styles/colors';

.header__tab {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 2.8rem 2.5rem 3rem 2.5rem;

  &__title {
    margin-right: 1rem;
  }

  &__expand-icon {
    -webkit-mask-image: url('#{$ASSETS_PATH}/Triangle.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    background-color: $BLACK;
    width: .6rem;
    height: .3rem;
  }
}

