@import '../../styles/colors';
$ASSETS_PATH: '../../styles/assets';

.navigation {
  padding: 0 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $WHITE;
  height: 8rem;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__action-button {
    margin-right: 2.5rem;
    width: 13rem;
  }

  &__tabs {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__tab {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0 2.5rem 0 2.5rem;
    cursor: pointer;
    position: relative;
  }

  .active {
    background-color: $ACTIVE_NAVIGATION_TAB;
  }

  .expand-icon {
    -webkit-mask-image: url('#{$ASSETS_PATH}/Triangle.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    background-color: $BLACK;
    width: .6rem;
    height: .3rem;
    margin-left: 1rem;
  }

  .dropdown {
    position: absolute;
    top: 9rem;
    left: calc(50% - 9rem);
    width: 18rem;
    background-color: $WHITE;
    list-style: none;
    border-radius: .4rem;
    box-shadow: 0 10px 25px -10px rgba(85, 85, 85, 0.5), 0 1px 0 rgba(223, 223, 223, 0.5);
    padding: 1rem;
    cursor: default;

    &::before {
      content: '';
      position: absolute;
      top: -.7rem;
      display: block;
      height: .7rem;
      width: 1.4rem;
      background-color: white;
      clip-path: polygon(50% 0, 0 100%, 100% 100%);
      left: calc(50% - .7rem);
    }

    &::after {
      content: '';
      position: absolute;
      top: -1rem;
      left: calc(50% - 9rem);
      display: block;
      height: 1rem;
      width: 100%;
      background-color: transparent;
    }

    &__row {
      font-size: 1.3rem;
      line-height: 2.9rem;
      color: $ARTICLE_TEXT;
      padding: .5rem 1rem;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #efefef;
      }

      &:first-child {
        padding: 0 1rem .5rem 1rem;
      }

      &:last-child {
        padding: .5rem 1rem 0 1rem;
      }
    }
  }
}